<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="style.css" rel="stylesheet" />
    
  </head>
  <body bgcolor="green">
    <ul class="navbar">
      <li><a href="home.html">&nbsp;Home</a></li> 
      <li><a href="about.html">&nbsp;About Us</a></li>
      <li><a href="contact.html">&nbsp;Contact Us</a></li>
      <li><a href="register.html">&nbsp;location</a></li>
    </ul> 

    <table align="center" width="40%">
      <tr>
        <td>
          <img src="/media/sofa.jpg"  >
        </td>
      </tr>
    </table>
    <div class="table2">
      <table width="800px" align="center" height="250px" >
        <tr>
          <td bgcolor="white"></td>
          <td bgcolor="grey"></td>
        </tr>
      </table>
    </div>
   
      <div class="container " style="margin-top:20px ; padding-right: 60px ; background-color: rgb(184, 240, 31);">
        <div class="column blue"></div>
        <div class="column violet"></div>
        <div class="column red"></div>
      </div>
    </div>
  </body>
</html>